#canvas{
	width:800px;
	margin:auto;
	height:600px;
	border:1px solid black;
    position:relative;
}

.block{
    width:50px;
    height:50px;
    display:inline-block;
    position:absolute;
    bottom:0;
    left:0;
}

.enemy{
    background: red;
}

.v1{bottom:50px}
.v2{bottom:100px}
.v3{bottom:150px}
.v4{bottom:200px}
.v5{bottom:250px}
.v6{bottom:300px}
.v7{bottom:350px}
.v8{bottom:400px}
.v9{bottom:450px}
.v10{bottom:500px}
.v11{bottom:550px}

.h1{left:50px}
.h2{left:100px}
.h3{left:150px}
.h4{left:200px}
.h5{left:250px}
.h6{left:300px}
.h7{left:350px}
.h8{left:400px}
.h9{left:450px}
.h10{left:500px}
.h11{left:550px}

.t0{
    background: silver;
}

.t2{

    background: #339933;
}

.t4{
    background: red;
}

#player{
    background: blue;
    border-radius:50px;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.3);
}

.mob, #player{
    z-index:5;
}